@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    height: auto;
}

header {
    top: 0;
    z-index: 100;
    display: flex;
    padding: 0 30px;
    position: sticky;
    background: white;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 120px;
    background: white;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

nav ul {
    margin: 0;
    width: 100%;
    float: right;
    height: 100%;
    display: flex;
}

nav ul li {
    list-style: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a.vl {
    height: 100%;
    color: #808080;
    display: block;
    text-decoration: none;
}

nav ul li a.option {
    height: 100%;
    color: #808080;
    padding: 0 30px;
    display: block;
    text-decoration: none;
}

nav ul li a p {
    position: relative;
    top: 65px;
}

.login {
    color: #f3901e !important;
}

nav ul li a.option:hover,
nav ul li a.option:focus {
    color: white !important;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(243,144,30,1) 75%, rgba(255,255,255,1) 25%);
}

.container {
    width: 100%;
    background: #fff;
}

.divider {
    width: 100%;
    height: 100px;
}

h1.title {
    margin: auto;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #f3901e;
    font-family: 'Montserrat', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, .8);
}

.content {
    width: 100%;
    display: flex;
    margin-top: 50px;
    min-height: 30vh;
}

.content div {
    width: 100%;
}

.content div p {
    margin: 0 20px;
    color: #808080;
    font-family: 'Montserrat', sans-serif;
}

.content .content-img {
    margin: 0 25px;
    text-align: center;
}

.column h2 {
    margin: 0 20px;
    color: #002c38;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.general-letter-style {
    color: #002c38;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

.h1-circular-img {
    font-size: 2vw;
    margin: 20px 20px !important;
    color: #002c38 !important;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.content .content-img .circular-img {
    width: 80%;
}

footer {
    width: 100%;
    display: flex;
    padding: 20px 100px;
    background: #002c38;
    box-sizing: border-box;
}

footer .content-footer {
    width: 100%;
    display: flex;
    padding: 30px 0;
}

footer .content-footer div {
    color: white;
    margin: 0 20px;
    font-family: 'Montserrat', sans-serif;
}

footer .content-footer div ul li {
    list-style: none;
}

footer .content-footer div ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

footer .img-footer {
    width: 100%;
    color: white;
    text-align: right;
}

footer .img-footer img {
    width: 60%;
}

.bottom-right {
    position: absolute;
    bottom: 165px;
    right: 95px;
    width: 30%;
    color: #808080;
    font-family: 'Montserrat', sans-serif;
}

.button-banner {
    position: absolute;
    bottom: 10%;
    right: 300px;
    width: 30%;
    color: #808080;
    font-family: 'Montserrat', sans-serif;
}
.button-banner button {
    color: #00114b;
    background: transparent;
    border: 1px solid gray;
    padding: 5px 53px;
}

.front,.back{
    backface-visibility: hidden;
    transition: transform .6s linear;
}

.front{
    transform: perspective(600px) rotateY(0deg);
}
.back{
    transform: perspective(600px) rotateY(180deg) translateY(-175%);
}
.back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
}
.sm{
    margin: 20px 0;
}
.sm a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%
}
.sm a:hover{
    background: #2c3e50;
    color: white;
}

div.back-content.middle span {
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

.content-modal { margin-top: 0; min-height: auto; }

.text-entity { cursor: default !important; }
.text-entity:hover { color: rgba(0,0,0,.87) !important; }
